# Loops
## Statement

1. while loop
2. for loop
3. nested loops
4. Loop control(break,continue,pass)

In [1]:
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("It's time to retairement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
It's time to retairement

## ATM Machine

In [2]:
### ATM machine with 2000
total_amount=2000
withdrawal_amount=int(input("Enter the withdrawal amount"))
if withdrawal_amount<total_amount:
    print("{} amount has been withdraw from your account".format(withdrawal_amount))
    print("Now your account balance is {}".format(total_amount-withdrawal_amount))
else:
    print("You don't have {} amount present in your account".format(withdrawal_amount))

Enter the withdrawal amount 2001

You don't have 2001 amount present in your account

In [3]:
### ATM machine with 2000
total_amount=2000
withdrawal_amount=int(input("Enter the withdrawal amount"))
if withdrawal_amount<total_amount:
    print("{} amount has been withdraw from your account".format(withdrawal_amount))
    print("Now your account balance is {}".format(total_amount-withdrawal_amount))
else:
    print("You don't have {} amount present in your account".format(withdrawal_amount))

Enter the withdrawal amount 1500

1500 amount has been withdraw from your account
Now your account balance is 500

# While loop

In [12]:
### Atm machine with 1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money bank people")
    
print("Hello All")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people
Hello All

# For Loop

In [5]:
li=["Krish",12,23,3,4,"apple","banana"]

In [6]:
type(li)

list

In [7]:
li[6]

'banana'

In [8]:
for x in li:
    print(x)

Krish
12
23
3
4
apple
banana

In [9]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [10]:
for a in fruits_list:
    print(a)
    if a=="Cherry":
        print("The fruit is cherry")

Mango
Cherry
The fruit is cherry
Apple
Papaya
Banana

In [11]:
fruit='mango'
for a in fruit:
    print(a)

m
a
n
g
o

In [13]:
fruit[3]

'g'

# Range()

In [15]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [17]:
for i in range(0,13,2):
    print(i)

0
2
4
6
8
10
12

## Nested Loops

In [19]:
n=10
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******
********
*********
**********

# Loops control
### 1.Break
### 2.Continue
### 3.Pass

In [20]:
##Loop controls
## Break and continue
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

#### 1. Break

In [21]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        break
    print(i)

Mango
Cherry
The fruit is apple

#### 2. Continue

In [23]:
##continue
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        continue
    print(i)

Mango
Cherry
The fruit is apple
Papaya
Banana

#### 3. Pass

In [22]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        pass
    print(i)

Mango
Cherry
The fruit is apple
Apple
Papaya
Banana